<div class="box-outer top-box">
  <div class="box-inner">
    <div class="box-bar">
      <h2>About Uchan</h2>
    </div>
    <div class="box-content">
      <p>
        Uchan is a simple anonymous imageboard built with Ruby on Rails.
      </p>
    </div>
  </div>
</div>
