<div class="box-outer top-box">
  <div class="box-inner">
    <div class="box-bar">
      <h2>Contact</h2>
    </div>
    <div class="box-content">
      <p>
        You can reach the administrator by e-mail at test@example.com
      </p>
    </div>
  </div>
</div>
