<div class="index-container">
  <div class="box-outer top-box" id="boards">
    <div class="box-inner">
      <div class="box-bar">
        <h2>Frequently Asked Questions</h2>
      </div>
      <div class="box-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In elit enim,
        ullamcorper a felis ac, mattis accumsan ipsum. Pellentesque eu sapien
        semper, convallis quam eu, posuere massa. Maecenas ornare arcu sed magna
        ullamcorper tempor. Maecenas lobortis felis sit amet libero sodales
        volutpat. Integer at ligula vel odio finibus laoreet condimentum at
        mauris. Donec ac ante in arcu faucibus ullamcorper vitae ac risus. Donec
        dignissim consequat justo, euismod rutrum felis ornare eget. Ut varius
        leo quis est ultricies ultrices. Suspendisse felis quam, placerat sed
        elit in, mattis dignissim dui. Maecenas quis velit et lorem bibendum
        interdum in at orci. Cum sociis natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Sed mauris est, venenatis nec
        egestas ac, pellentesque quis nisi. Curabitur eleifend imperdiet metus,
        ac posuere ipsum accumsan sed. Aenean ullamcorper lacinia arcu, ut
        ornare lorem vestibulum ac. Nullam dui diam, venenatis eget consectetur
        ut, feugiat et tellus.

        Vivamus pulvinar semper neque, et egestas leo gravida sagittis. Integer
        et sem id nisi aliquet sagittis nec aliquet arcu. Etiam varius sem nec
        metus congue eleifend. Duis mattis commodo orci, ac sollicitudin sem
        vestibulum in. Quisque pulvinar nec erat ut convallis. Ut venenatis
        finibus turpis, luctus consequat tellus blandit vitae. Nam mollis orci
        sapien, eget congue erat dapibus sed. Sed tincidunt, sapien et
        consectetur efficitur, eros lacus lacinia mauris, non volutpat metus
        lectus sit amet dolor. Nulla ac arcu eu eros vestibulum congue eget eget
        lorem. Donec consequat, augue et sagittis fringilla, nisl odio aliquet
        lorem, in sagittis dui orci vitae dui. Sed accumsan mauris non bibendum
        pretium. Nam ullamcorper ultrices leo ut auctor. Pellentesque porttitor
        ultricies mi in maximus. Maecenas accumsan ligula non justo dictum, nec
        suscipit quam viverra. Nullam fringilla, mauris in scelerisque
        vulputate, mauris felis porta metus, sed aliquam libero eros sed erat.
        Etiam mattis ipsum sollicitudin nisi vestibulum, ut scelerisque leo
        sagittis.

        Mauris eget lectus tempus, sodales turpis eu, tempus dolor. Sed bibendum
        nec sapien consequat imperdiet. Morbi eget odio fermentum, ullamcorper
        risus in, laoreet nulla. Suspendisse pellentesque magna non libero
        rutrum mattis. Quisque convallis risus a ullamcorper interdum. Cras id
        dui rutrum, posuere justo quis, euismod justo. Suspendisse sed sodales
        enim.

        Maecenas dapibus non neque malesuada hendrerit. Mauris massa neque,
        sodales eget lacus ac, vehicula iaculis velit. Aliquam erat volutpat.
        Quisque tempus ligula in mauris tincidunt, in pulvinar libero laoreet.
        Proin faucibus accumsan luctus. Suspendisse potenti. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. In
        ultricies lorem id diam condimentum rhoncus. Vestibulum ut turpis
        laoreet, fermentum mauris in, dignissim felis.

        Ut sollicitudin felis vitae mauris condimentum, ac scelerisque odio
        vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam vel
        suscipit ligula, iaculis lacinia quam. Sed vel cursus ex. Nulla commodo
        magna quis est ullamcorper gravida. Sed eleifend, libero sit amet cursus
        tincidunt, augue turpis dapibus velit, vitae venenatis purus ligula
        efficitur nibh. Sed congue condimentum nisi, posuere ullamcorper nunc
        dapibus sed. Integer porttitor metus vitae porta aliquam. Donec
        venenatis feugiat elit vel congue. Aenean laoreet tortor pulvinar,
        condimentum tortor a, hendrerit ipsum. Cras pellentesque ante a massa
        gravida varius. Vivamus accumsan massa ut fermentum egestas. Quisque
        eget maximus odio, sit amet maximus elit. Aliquam rutrum dui ut quam
        fermentum, sed aliquet massa pretium. Mauris nec ligula venenatis,
        scelerisque nisi sed, facilisis mauris.
      </div>
    </div>
  </div>
</div>
