<div class="index-container">
  <div class="box-outer top-box" id="boards">
    <div class="box-inner">
      <div class="box-bar">
        <h2>Rules</h2>
      </div>
      <div class="box-content">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Pellentesque id dapibus dui, et tincidunt lacus. Ut mollis suscipit diam
        et sollicitudin.  Pellentesque habitant morbi tristique senectus et
        netus et malesuada fames ac turpis egestas. Pellentesque quis enim
        ipsum. Proin hendrerit, dui at mollis consequat, tellus risus maximus
        mauris, vel aliquam massa justo eget mauris. Duis congue quam nec porta
        dignissim. In nec diam sed risus posuere accumsan. Aliquam vitae quam a
        nisi luctus commodo. Integer semper, ipsum eget sagittis vulputate, dui
        dui volutpat tellus, a placerat dui felis commodo leo. Duis in ex ut ex
        lacinia imperdiet.  Aenean finibus varius eros, in faucibus nisi viverra
        eu. Ut eu tortor urna. Nunc vitae felis augue. Praesent accumsan congue
        mattis. Integer elit elit, imperdiet sed euismod vitae, maximus non
        magna. Vestibulum sodales, leo id fringilla lacinia, magna elit
        ultricies massa, at consectetur lectus neque ut massa.  </p>

       <p> Mauris molestie nunc at neque eleifend, eget aliquam sem porta. Duis
       a iaculis dui. Pellentesque habitant morbi tristique senectus et netus et
       malesuada fames ac turpis egestas. Nam volutpat molestie est at mollis.
       Donec ac accumsan erat.  Nullam vitae tempus nisl. Nam id rutrum ipsum.
       Donec id ipsum ac tellus condimentum elementum nec a massa. Quisque
       feugiat in eros id ornare. Maecenas tellus nisl, faucibus convallis elit
       nec, cursus ultricies felis. In placerat leo ac ex iaculis, sed pharetra
       augue varius. Sed vel massa convallis nulla pellentesque lacinia. Donec
       ligula purus, consequat eget interdum vitae, vestibulum sed massa. Morbi
       massa lacus, feugiat ac nibh quis, finibus dictum dui.  </p>
      </div>
    </div>
  </div>
</div>
