@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "variables";
@import "footer";

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  height: 100%;
  // background-image: linear-gradient(to top, #5F9EA0 0%, #FAF3DD 100%);
  background-color: #EEF2FF;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

li {
  img {
    margin-top: 3px;
  }
}

.alert-notice {
  text-align: center;
}

.outer-container {
  @include outer-container;
  min-height: 100%;
}

.board-wrap {
  min-height: 100%;
  margin-bottom: 30px;
}

.index-container {
  @include span-columns(8);
  @include shift(2);
}

#main {
  width: 100%;
  overflow: auto;
  padding-bottom: $footer-height;
}

.error-container {
  text-align: center
}

.inner-container {
  @include span-columns(4);
  @include shift(4);
}

#form-container {
  @include span-columns(4);
  @include shift(4);
  margin-bottom: 3em;
}

.left-container {
  @include span-columns(4 of 8);
}

.right-container {
  @include span-columns(4 of 8);
}

hr {
  border: none;
  border-top: $base-border;
  height: 0;
  clear: both;
}

div {
  display: block;
}


// Logo

#logo {
  @include span-columns(6);
  @include shift(3);

  h1 {
    margin-left: 230px;
    width: 100%;
    height: 100%;
    display: block;
  }
}

#hd {
  margin-bottom: 0;
}

// Boards index

.visibility_hidden {
  visibility: hidden;
}

.top-box {
  border: $base-border;
  margin-bottom: .5em;
  padding-bottom: .5em;
  zoom: 100%;
  background-color: $base-secondary-color;
  overflow: auto;
}

.left-box {
  background: white;
  background-color: $base-secondary-color;
  color: white;
}

.right-box {
  background: white;
  background-color: $base-secondary-color;
  color: white
}

.box-bar {
  position: relative;
  zoom: 100%;
  padding-left: .5em;
  line-height: 2em;
  background: $base-primary-color;

  h2 {
    color: white;
    font-size: 120%;
    font-weight: bold;
  }
}

.box-content {
  font-size: 93%;
  color: black;
  margin: 0;
  padding: .5em;
  padding-top: .25em;
  line-height: 130%;
}

#boards {
  .column {
    float: left;
    width: 12em;
    margin: 0;
    padding: 0;
  }

  a {
    color: $base-font-color;
  }

  h3 {
    text-decoration: underline;
    display: inline;
  }
}

.box-outer {
  border: $base-border;
  zoom: 100%;
  margin-bottom: .5em;
  padding-bottom: .5em;
}

#recent-images {

  a {
    display: block;
  }

  .box-content {
    text-align: center;
  }

  li {
    background: black;
    margin: auto;
    margin-bottom: .5em;
    display: block;
    width: 250px;
    padding: 1px;
  }
}


// Boards show

.boardNav {
  font-size: 9pt;
  color: $base-primary-color;
  display: block;
  position: relative;

  .braces {
    color: black;
    font-weight: bold;
  }

  a {
    font-weight: normal;
    padding: 1px;
    text-decoration: none;
    color: $base-font-color;
  }
}

.boardBanner {
  text-align: center;
  color: $base-font-color;
  clear: both;

  #boardCnt {
    border: $base-border;
    margin: 5px auto;
    width: 300px;
    height: 100px;
    max-width: 100%;
  }

  .boardTitle {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-top: 0;
  }
}

.abovePostForm {
  width: 90%;
}


#togglePostForm {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.board {
  clear: both;
}

.thread {
  margin: 0;
  clear: both;
  :nth-of-type(2)>.reply {
    margin-top: 2px!important;
  }
}

.opContainer {
  display: inline;
}

.op {
  display: inline;
}

.post {
  margin: 4px 0;
  overflow: hidden;
  .file {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    .fileThumb {
      float: left;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 3px;
      margin-bottom: 5px;
      img {
        border: none;
        float: left;
      }
    }
  }
  .postInfo {
    width: auto;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    span.subject {
      color: #0F0C5D;
      font-weight: bold;
    }
    .nameBlock {
      display: inline-block;
      .name {
        color: green;
        font-weight: bold;
      }
    }
  }
  blockquote.postMessage {
    display: block;
  }
}

.sideArrows {
  color: #B7C5D9a;
  float: left;
  margin-right: 2px;
  margin-top: 0;
  margin-left: 2px;
}

.reply {
  background-color: #D6DAF0;
  border: 1px solid #B7C5D9;
  border-left: none;
  border-top: none;
  display: table;
  padding: 2px;
}

blockquote {
  // display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
}

.pagination {
  font-size: 13px!important;
  margin: 0;
  margin-bottom: 20px;
  padding: 3px 7px;
  float: left;
  border: none;
  background: #D6DAF0;
  border-right: 1px solid #B7C5D9;
  border-bottom: 1px solid #B7C5D9;
  list-style: none;
  overflow: hidden;
  color: #89A;
}
