@import "variables";

.board-footer {
  height: $footer-height;
  position: relative;
  margin-top: -$footer-height;
  clear: both;
}

.footer {
  text-align: center;
  height: $footer-height;
  position: relative;
  margin-top: -$footer-height;
  clear: both;

  a {
    color: black;
  }

  ul {
    border-top: 1px solid;
    display: table;
    margin: auto;
    width: 634px;
  }

  li {
    display: block;
    float: left;
    border: 1px solid;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2px;
    border-left: none;
    margin-top: -1px;
    padding-top: 2px;
    background: darken($base-primary-color, 10%);
  }

  .fill {
    border: 0;
    padding-bottom: 4px;
    border-top: 1px solid;
    width: 215.5px;
    background: none;
  }

  .first {
    border-left: 1px solid;
  }

  .footer-secondary-links {
    font-size: 11px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
